<!-- layouts/partials/project-preview.html -->
<div id="project_preview">
    <div id="project_preview_info">
        <div class="info-row">
            <span class="label">Client:</span>
            <span class="client value"></span>
        </div>
        <div class="info-row">
            <span class="label">Typology:</span>
            <span class="categories value"></span>
        </div>
        <div class="info-row">
            <span class="label">Services:</span>
            <span class="tags value"></span>
        </div>
        <div class="info-row">
            <span class="label">Status:</span>
            <span class="status value"></span>
        </div>
    </div>
    <img class="featured-img" src="" alt="Project preview">      
    <img class="first-img" src="" alt="Project preview">      
</div>